<div [@routerTransition]>
    <app-page-header [heading]="'Trucos'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-9">
            <form role="form">
                <fieldset>
                    <strong>Trucos Resident Evil 1</strong>
                    <ul>
                        <li>
                        Colt Python:
                        Para jugar con la "Colt Python Pistol" y toda la munición a tope hay que acabar el juego cuando Chris o Jill salven a sus compañeros. Guardar los datos en la tarjeta de memoria. Comenzar una partida nueva, usando los datos salvados.
                         </li>

                         <li>
                         Rocket Launcher:
                         Para jugar con "Rocket Launcher" y munición sin límite hay que acabar el juego con Chris en 3 horas. Salvar los datos a la tarjeta de memoria y comenzar una partida con los datos salvados.
                        </li>
                        
                        <li>
                        Doble Efecto:
                        Para que los objetos que aumentan la capacidad del inventario hagan el doble de efecto, ir a la pantalla de elección de juego y pulsar derecha mientras iluminas la palabra "Advanced".
                        </li>
                    </ul>
                    <b>Solo Aplica para Resident Evil 1 (NO REMAKE).</b>
                    
                </fieldset>
                

            </form>
    </div>
    <img src = "https://i.imgur.com/xpVNsZs.jpeg" width="400px" height="500px">
    <!-- /.row -->
    
</div>

