<div [@routerTransition]>
    <app-page-header [heading] ="'Juegos'" [icon]="'fa-wrench'"></app-page-header>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 1
                </h1>
                <a>Resident Evil —cuyo título original en Japón es Biohazard — es un videojuego del género horror de supervivencia desarrollado y publicado por Capcom.
                    Originalmente para PlayStation en 1996, y es el primer juego de la serie Resident Evil.
                    Concebido originalmente por el productor Tokuro Fujiwara como una nueva versión de su anterior juego de terror Sweet Home (1989), el desarrollo de Resident Evil fue dirigido por Shinji Mikami. Pasó por varios rediseños, inicialmente fue concebido como un juego para el Super Nintendo en 1993, luego como un juego en primera persona totalmente en 3D para PlayStation en 1994, y finalmente un juego en tercera persona con fondos prerenderizados. El juego consiste en gran medida en acción en tercera persona con énfasis adicional en gestión de inventario, exploración y resolución de acertijos. 
                    Resident Evil estableció muchos elementos que se verían más adelante en la serie, incluido el esquema de control, el sistema de inventario y de guardado y el uso de modelos 3D sobrepuestos sobre fondos prerenderizados.
                    El juego fue muy bien recibido crítica y comercialmente, y a menudo se le atribuye el concepto del género survival horror. Fuera de los videojuegos, Resident Evil también ha sido destacado por la traer de vuelta la popularización de los zombis en la cultura popular de finales de la década de 1990 en adelante (junto con The House of the Dead), lo que generó un renovado interés en las películas de zombis durante la década de 2000.
                    El juego ha sido aclamado como uno de los mejores videojuegos de todos los tiempos. Su éxito ha generado una franquicia multimedia que incluye videojuegos, películas, cómics, novelas y otros productos. El juego ha recibido adaptaciones a Sega Saturn, Microsoft Windows y Nintendo DS. En 2002, se lanzó un remake del mismo nombre para Nintendo GameCube con gráficos y sonido totalmente renovados e importantes cambios en el juego y la historia, el cual fue aclamado por la crítica y los jugadores. Una secuela, Resident Evil 2, se lanzó en 1998, y una precuela, Resident Evil Zero, en 2002.
                    <img src="https://i.imgur.com/xmVfBsI.jpeg" style="height: 700px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 2
                </h1>
                <a>
                    Resident Evil 2a​ —cuyo título original es Biohazard 2 (バイオハザード2 Baiohazādo Tsū?, «Peligro biológico 2»)—b​ es
                     un videojuego japonés del género Horror de supervivencia, desarrollado por Capcom y lanzado para PlayStation en 1998.
                      Se trata de la segunda entrega en la serie de videojuegos Resident Evil.
                    La trama tiene lugar dos meses después de los acontecimientos del primer juego. Transcurre en Raccoon City,
                     una ciudad estadounidense cuya población en su mayoría ha sido transformada en zombi por el virus-T, un arma 
                     biológica desarrollada por la compañía Umbrella. Mientras huyen de la ciudad, el oficial Leon S. Kennedy y la
                      estudiante universitaria Claire Redfield se conocen y unen a otros supervivientes, y descubren que Umbrella 
                      trata de apoderarse de una muestra del nuevo virus para continuar con sus experimentos biológicos en seres humanos.
                    Desarrollado por un equipo de aproximadamente cincuenta personas en un año y nueve meses, Resident Evil 2 fue
                     dirigido por Hideki Kamiya y producido por Shinji Mikami. Tuvo una versión previa llamada Resident Evil 1.5, 
                     descartada cuando su desarrollo rondaba entre 60-80 % porque su productor la consideró «sosa y aburrida». 
                     La versión definitiva contó con escenarios diferentes y una presentación de la historia más cinematográfica, 
                     apoyada por una banda sonora que emplea distintos motivos3​ y composiciones orquestales.
                    El sistema de juego de Resident Evil 2 está centrado en la exploración de los escenarios, la resolución de 
                    acertijos y el combate.​ La principal novedad respecto a su predecesor es el Zapping System,​ el cual permite
                     jugar distintos acertijos e historias dependiendo del personaje que se elija al comenzar la partida, agregando
                    rejugabilidad.c​ Tras su estreno, la mayoría de los críticos elogió el ambiente, los gráficos y el audio del juego,
                     aunque también hubo comentarios desfavorables respecto a sus controles, la actuación de voz y algunos elementos de su sistema de juego.
                     Desde su publicación se han vendido más de seis millones de copias del juego en todo el mundo,9​ y es el título más exitoso de 
                    la serie sin tener en cuenta los relanzamientos en otras consolas. Una década después de su primer lanzamiento, fue incluido en cinco
                    listas de los «mejores juegos de la historia». Su éxito llevó a la producción de diferentes adaptaciones para otras plataformas de juego
                     como PC, Nintendo 64, Dreamcast y Nintendo GameCube, así como de cómics, álbumes de teatro y radioteatros que continuaron la trama original. 
                    <img src="https://i.imgur.com/psUxuYz.png" style="height: 800px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 3
                </h1>
                <a>
                    1998 fue un año muy excepcional para los videojuegos, y Resident Evil 2 fue uno de sus máximos protagonistas. 
                    La Capcom más prolífica de la década de los 90 se había superado a sí misma con un juego de acción y supervivencia 
                    que incluso abanderó el catálogo de PlayStation. Una experiencia transgresora y adulta vestida con un apartado visual
                     de vanguardia que no tardó en propagar la fiebre por los juegos de zombies y los Survival Horror.
                    De manera muy merecida, la secuela de Resident Evil fue un éxito comercial, obtenido casi cinco millones de copias en
                     PlayStation más otras 800 mil de la Edición Dual Shock. Sobraban los motivos para que los de Osaka no perdieran el
                      tiempo a la hora de dar continuidad a ese filón y, apenas un año después, tercera entrega numerada ya estaba en las estanterías. ¿Una producción en paralelo? ¿Un milagro? Ni lo uno, ni lo otro.
                    Aquella pandemia que azotó Raccoon City pedía a gritos una continuación, y Capcom tenía millonarias razones para llevarlas a cabo. 
                    Es más, Hideki Kamiya -director de RE2- y su equipo tenían nuevas y emocionantes ideas y estaban deseosos de ponerlas en práctica. Sin embargo, ni la compañía del Blue Bomber podía permitirse esperar a que la visión de Kamiya terminase de cobrar forma, ni la propia Sony les esperaría a la hora de realizar su siguiente gran movimiento en la industria de los videojuegos.
                    <img src="https://i.imgur.com/qwoMAlO.jpeg" style="height: 600px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 4
                </h1>
                <a>
                    GameCube sacó muy buen rendimiento de Capcom al llevarse, entre otros juegos, varios exclusivos, tanto totales como parciales,
                     del survival horror por excelencia de la compañía de Osaka, empezando por el memorable remake de Resident Evil en 2002, donde 
                     superó con creces al original.
                    A éste le siguió su precuela, Resident Evil Zero, pocos meses después. Y tras la posterior experimentación con Internet con los 
                    Outbreak de PS2, tocó un cambio de planteamiento de lo más brusco en 2005 con Resident Evil 4. Y lo sorprendente es que no tuvo
                     tantos detractores, sino todo lo contrario, siendo uno de los títulos mejor valorados de la franquicia Resident Evil.
                     No es la primera vez que uso de ejemplo el clásico disco de Metallica a modo de metáfora con Resident Evil 4, pese a Capcom llevase unos años probando 
                     diversos cambios en la saga e incluso modernizándose con el soberbio Resident Evil Code: Veronica para Dreamcast del año 2000.
                    De su esencia de survival horror con esa tensión a cada esquina y el acertado uso de los planos fijos para la cámara, como en el cine, 
                    se dio un giro hasta la vista en tercera persona sobre el hombro y con un mayor énfasis en la acción y sin ningún puzle verdaderamente memorable,
                     en parte por su drástica reducción en número y por su espíritu ciertamente más arcade.
                    Resident Evil 4 nos puso en la piel de Leon S. Kennedy, "novato" al que controlamos (junto con Claire Redfield) 
                    en el tremendo Resident Evil 2, ante una misión de rescate (la hija del presidente de los Estados Unidos, ni más ni menos; Ashley Graham) 
                    situada en un pueblo remoto de Europa donde sus aldeanos chapurreaban frases en español como las muy parodiadas
                     "detrás de ti, imbésil", "agárrenlo" o "morir es vivir". Unos seres pertenecientes a la secta de Los Illuminados un tanto extraños.
                    Este otro cambio fue uno de los más llamativos, porque se prescindió de la clásica figura del zombi por unos infectados (que no dejan de ser 
                    "zombis" en el fondo, eso sí, pero con mayor capacidad de razonamiento y ese plus del habla para comunicarse con los demás), lo que no evitó, 
                    en cualquier caso, que nos topásemos con aberraciones de gran tamaño sumamente letales.                    
                    <img src="https://i.imgur.com/8aye932.jpeg" style="height: 700px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 5
                </h1>
                <a>
                    ‘Resident Evil 5‘ lleva varios días entre nosotros y las opiniones en torno a él son muy dispares. 
                    Unos lo alaban y otros lo critican. Y yo en medio. Porque hay que dejar algo muy claro desde el inicio: 
                    esto no es un ‘Resident Evil’. No como lo conocemos. Sus similitudes con los inicios de la saga ya no son tantas,
                     y lo que tenemos ante nosotros es una especie de ‘Resident Evil 4.5’ con modo cooperativo.
                    Es por ello que los fans más acérrimos de la saga (entre los que me incluyo) se puedan sentir decepcionados al 
                    ver que esta nueva entrega se aleja más si cabe del survival horror en pos de un título más arcade, de una forma muy 
                    similar a lo que le sucedió a otra saga de Capcom con su ‘Dino Crisis’, que en su secuela fue un canto a la acción sin 
                    tapujos (y bien que me encantó el cambio, que conste).
                    Esta quinta entrega de ‘Resident Evil’ exagera más si cabe ese toque de acción que ya vimos en el anterior capítulo, 
                    y con ello perdemos aún más la libertad de exploración. Ahora los caminos prefijados son más que evidentes, y si queremos 
                    volver sobre nuestros pasos ya no será posible. Tenemos una zona y de ahí no nos moveremos hasta que pasemos el capítulo.
                     Y ya que hablo de capítulos, en total habrá seis, con varias partes para cada uno de ellos. Al pasarlos se nos valorará nuestra actuación 
                     con las clásicas puntuaciones basadas en letras. A mayor puntuación, mayor será la recompensa y podremos desbloquear jugosos extras. 
                     Unos extras que irán desde figuritas a lo ‘Smash Bros.’ (aunque sin ser ni una cuarta parte de lo que teníamos en el título de Nintendo, obviamente), 
                     trajes alternativos para los protagonistas y algún personaje más de la historia, o munición infinita, entre otras cosas más.                   
                    <img src="https://image.api.playstation.com/cdn/UP0102/CUSA04437_00/xAtMOkY23P4b0hj4gy8ZMiBgIcknZjKM.png" style="height: 700px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <h1 class="card-body">
                    Resident Evil 6
                </h1>
                <a>
                    Si hay una franquicia de la que este año vamos a tener títulos como para hartarnos (algunos en el buen sentido de la palabra y otros en el malo, porque de todo tiene que haber) es ‘Resident Evil’. Vale, tenéis razón, ‘Silent Hill’ también tiene unos cuantos títulos previstos para este 2012, pero ahora toca hablar de la saga de Capcom.
                    Uno de los títulos, ‘Resident Evil: Revelations’, ya está en la calle para Nintendo 3DS. Otro de los que hay en camino es ‘Resident Evil: Operation Raccoon City’, que saldrá a la venta en Europa el próximo 23 de Marzo para PC, PS3 y Xbox 360. Por último tenemos una nueva entrega de la serie regular, que es este ‘Resident Evil 6’ del que vamos a ver todos los detalles que conocemos hasta el momento. Iremos ampliando este post a medida que surjan nuevos datos relevantes sobre él.
                    Argumento de ‘Resident Evil 6’
                    ‘Resident Evil 6’ traslada la acción a diez años después de los incidentes que tuvieron lugar en Raccoon City, concretamente al momento en el que el presidente de los Estados Unidos ha decidido revelar toda la verdad sobre todo el asunto con la intención de ponerle freno a lo que parece ser un resurgimiento de la actividad bioterrorista.
                    Leon S. Kennedy, uno de los viejos conocidos de la saga, superviviente de Raccoon City y amigo personal del presidente, también está presente en el evento. Lamentablemente se produce un ataque bioterrorista durante dicho evento y el presidente acabará siendo infectado… Leon tendrá que ¿acabar con él? ¿Con su amigo? ¿Con el presidente de Estados Unidos? Así están las cosas.
                    Mientras tanto Chris Redfield llega a China, concretamente a Hong Kong, donde también existe una amenaza bioterrorista…
                    Adiós al Survival Horror como eje principal. Hola a la acción, también en multijugador
                    Si algo nos enseñó ‘Resident Evil 5’ es que el paso dado por el excelente ‘Resident Evil 4’ hacia una jugabilidad más cercana a lo que ofrecen otros títulos de acción, dejando un poco de lado el componente de Survival Horror puro y duro de las primeras entregas, iba a ser la tendencia a seguir por Capcom en futuras entregas, por mucho que algunos usuarios no hayan querido aceptarlo. Las cifras hablan por sí solas.
                    ‘Resident Evil 6’, por lo que hemos podido ver hasta ahora, viene con ganas de armarla a lo grande. Acción a raduales y la intención de ponerse a la altura de otros grandes títulos del género gracias al elemento espectacularidad. Algo así como mezclar el universo propio de ‘Resident Evil’ con ese ritmo que te deja sin aliento en la campaña del ‘Call of Duty: Modern Warfare 3’, por ejemplo.
                    Sobre el multijugador, parece ser que ‘Resident Evil 6’ contará con un modo offline a pantalla partida para dos jugadores, un modo competitivo online para hasta ocho jugadores, y un cooperativo en el que podrán participar hasta seis jugadores.
                    Fecha de lanzamiento y tráiler oficiales
                    Capcom ha confirmado que ‘Resident Evil 6’ será lanzado el próximo 2 de octubre de 2012 para PS3 y Xbox 360. Más tarde llegará la versión para PC, aunque por el momento se desconoce la fecha exacta de salida.
                    <img src="https://hb.imgix.net/3eb0ed5ce7344ed25855798b85d1aa158fd25bba.jpg?auto=compress,format&fit=crop&h=353&w=616&s=ad0a15c5b7e86556cbc02037fe411134" style="height: 900px; width: 800px; float: right;">
                </a>
                
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
