<div [@routerTransition]>
    <app-page-header [heading]="'Juegos'" [icon]="'fa-wrench'"></app-page-header>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 1
                </div>
                <p>Resident Evil —cuyo título original en Japón es Biohazard — es un videojuego del género horror de supervivencia desarrollado y publicado por Capcom.
                    Originalmente para PlayStation en 1996, y es el primer juego de la serie Resident Evil.
                </p>
                <p>
                    Concebido originalmente por el productor Tokuro Fujiwara como una nueva versión de su anterior juego de terror Sweet Home (1989), el desarrollo de Resident Evil fue dirigido por Shinji Mikami. Pasó por varios rediseños, inicialmente fue concebido como un juego para el Super Nintendo en 1993, luego como un juego en primera persona totalmente en 3D para PlayStation en 1994, y finalmente un juego en tercera persona con fondos prerenderizados. El juego consiste en gran medida en acción en tercera persona con énfasis adicional en gestión de inventario, exploración y resolución de acertijos. 
                </p>Resident Evil estableció muchos elementos que se verían más adelante en la serie, incluido el esquema de control, el sistema de inventario y de guardado y el uso de modelos 3D sobrepuestos sobre fondos prerenderizados.
                <p>
                    El juego fue muy bien recibido crítica y comercialmente, y a menudo se le atribuye el concepto del género survival horror. Fuera de los videojuegos, Resident Evil también ha sido destacado por la traer de vuelta la popularización de los zombis en la cultura popular de finales de la década de 1990 en adelante (junto con The House of the Dead), lo que generó un renovado interés en las películas de zombis durante la década de 2000.
                </p>
                <p>
                    El juego ha sido aclamado como uno de los mejores videojuegos de todos los tiempos. Su éxito ha generado una franquicia multimedia que incluye videojuegos, películas, cómics, novelas y otros productos. El juego ha recibido adaptaciones a Sega Saturn, Microsoft Windows y Nintendo DS. En 2002, se lanzó un remake del mismo nombre para Nintendo GameCube con gráficos y sonido totalmente renovados e importantes cambios en el juego y la historia, el cual fue aclamado por la crítica y los jugadores. Una secuela, Resident Evil 2, se lanzó en 1998, y una precuela, Resident Evil Zero, en 2002.
                </p>
            </div>
        </div>
    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 2
                </div>
            </div>
        </div>

    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 3
     </div>
     </div>


    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 4
                </div>
            </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 5
                </div>
            </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Resident Evil 6
                    </div>
                </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Resident Evil Village
                    </div>
                </div>
</div>
