<div [@routerTransition]>
    <app-page-header [heading]="'Peliculas'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Las Mejores Peliculas de Resident Evil </h1>
    </div>

    <hr />

    <div class="page-header">
        <h1>Historia Primer Pelicula</h1>
        <a>Esta es la primer pelicula de Resident Evil</a>
    </div>
    <img alt="" class="img-thumbnail" src="https://i.blogs.es/3b0843/resident-evil-ultimo-capitulo-portadabuena/1366_2000.jpg" />

    
    <div class="dropdown theme-dropdown clearfix" ngbDropdown>
        <button class="btn btn-secondary" ngbDropdownToggle>
            Ir a ver Pelicula
        </button>
        <div aria-labelledby="dropdownMenu1" class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Ir a Ver Online</a>
            <a class="dropdown-item" href="javascript:void(0)">Descargar</a>
            <a class="dropdown-item" href="javascript:void(0)">Trailer</a>
        </div>
    </div>
    <br />
    <hr />
    
        <!-- /.col-sm-4 -->
    
</div>
